.timer-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.timer-container {
    display: flex;
    flex-direction: column;
}

.timer-laps {
    width: 10em;
}

.monitor {
    display: flex;
    align-items: center;
    font-size: 20vh;
    flex-direction: column;
}

.last-lap-mode {
    color: red;
}

.control-buttons {
    display: flex;
    justify-content: space-around;
}

.control-buttons button {
    width: 100px;
    height: 40px;
}